
.concontainer{
    width: 100%;
    height: 100%;
    background-color:rgb(49, 48, 48);
    border:1px solid rgb(49, 48, 48);
}
.holder{
    margin-top: 80px;
    margin-left: 20%;
    width: 60%;
    display: flex;
   
}
h1{
    margin-top: 60px;
    text-align: center;
    color: blanchedalmond;
}
.p{
    height: 35px;
    width: 300px;
    margin-top: 10px;
    margin-bottom:10px ;
    padding-left: 15px;
    padding-bottom: 12px;
    background-color: rgb(15, 216, 156);
    border-radius: 6px;
}
b{
    align-items: center;
    margin-top: 12px;
    color:white;
}
form{
    margin-left: 100px;
    margin-top: 50px;
}
input{
    width: 290px;
    height: 45px;
    background-color: rgb(22, 21, 21);
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 6px;
    text-align: center;
    font-size: 20px;
    color: blanchedalmond;
}
textarea{
    border-radius: 8px;
    background-color: rgb(15, 10, 10);
    font-size: 17px;
    color: cornsilk;
    width: 300px;
    height: 200px;
    padding: 5px;
}
.loc{
    background-image: url(./image/see.PNG);
    background-position: center;
    width: 100%;
    height: 200px;
    margin-top: 20px;
    margin-bottom: 20px;
}

@media all and (max-width:900px){
    .concontainer{
        width: 100%;
        height: 100%;
        background-color:rgb(49, 48, 48);
        border:1px solid rgb(49, 48, 48);
    }
    .holder{
        margin-top: 80px;
        margin-left: 10%;
        width: 80%;
        display: block;
       
    }
    form{
        margin-left: 0px;
        margin-top: 50px;
    }
    input{
        width: 100%;
       
    }
    textarea{
        
        width: 100%;
        height: 200px;
        padding: 5px;
    }
    .p{
        height: 35px;
        width: 100%;
        margin-left: 0px;
    }
}