.aboutcontainer{
    width: 100%;
    height: 100%;
    background-color:rgb(49, 48, 48);
    border:1px solid rgb(49, 48, 48);
}
h1{
    margin-top: 60px;
    text-align: center;
}
.intro{
 color: white;
 width: 60%;
 margin-left: auto;
 margin-right: auto;
 display: flex;


}

h3{
    text-align: center;
}
.par{
    
    width: 65%;
    flex-basis: 65%;
    margin-right: 25px;
    line-height: 19px;
}
p{
    padding-top: 15px;
}
span{
    font-size: 40px;
    color: rgb(247, 80, 15);
}
button{
    /* this margin is crazy*/
    margin-top: 25px;
    width: 100px;
    height: 40px;
    background-color: lightslategray;
    border-radius: 4px;
}
img{
   
    height: 400px;
    width: 40%;  
  
}
/* styling the resume part*/
.resume{
    margin-left: 20%;
    margin-top: 30px;
    width: 60%;
    color: rgb(247, 247, 245);
    
}
b{
    padding-right: 10px;
    font-size: 18px;
    color: rgb(117, 106, 7)
}
h4{
    font-size: 30px;
    margin-top: 10px;
    color: burlywood;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.help{
    margin-top: 30px;
    color: blanchedalmond;
    text-align: center;
    padding-top:8px ;
    margin-left: 20%;
    width: 60%;
    height: 10%;
    background-color: black;
    border-radius: 7px;
}


@media all and (max-width: 900px){
    .aboutcontainer{
        width: 100%;
        height: 100%;
    }
    .intro{
        width: 90%;
        display: block;
        margin-right: auto;
        margin-left: auto;

    }
    h1{
        margin-top: 60px;
        text-align: center;
    }
    
    
    h3{
        text-align: center;
    }
    .par{
        
        width: 100%;
        flex-basis: 65%;
        margin-right: 25px;
        line-height: 19px;
    }
    p{
        padding-top: 15px;
    }
    .intro p{
        font-size: 18px;
        line-height: 25px;
    }
    span{
        font-size: 40px;
        color: rgb(247, 80, 15);
    }
    button{
        /* this margin is crazy*/
        margin-top: 25px;
        width: 100px;
        height: 40px;
        background-color: lightslategray;
        border-radius: 4px;
    }
    img{
       
        height: 400px;
        width: 300px;  
        margin-left: auto;
        margin-right: auto;
        
        
    
    }
    /* styling the resume part*/
    .resume{
        margin-left: 0;
        
        width: 100%;
        color: rgb(247, 247, 245);
        
    }
    .resume p{
        padding-top: 5px;
        font-size: 20px;
    }
    b{
        padding-right: 10px;
        font-size: 18px;
        color: rgb(117, 106, 7)
    }
    .help{   
        margin-left: 0px;
        width: 100%;
        text-align: center;
    }
    .help p{
        padding: 10px;
        padding-bottom:5px;
    }
}